/* NA TAG BODY ESTAMOS CRIANDO O GRID TEMPLATE  */
body{
    margin: 0;
    display: grid;
    grid-template-areas: 'navbar navbar navbar navbar'
                         'section section aside aside'
                         'footer footer footer footer';
    grid-template-rows: 10vh 60vh 30vh;
}
  
  /* ESTILO DA NAV COM BREAKPOINT EM 768 E 425 */
nav{
    grid-area: navbar;
    background-color: rgb(117, 128, 79);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Quicksand', sans-serif;

}
nav a{
    color: white;
    text-decoration: none;
    font-size: 16pt;
}
  /* ESTRUTURA MENU HAMBURGUER */
#menuHamburguer{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    height: 25px;
    width: 30px;
}
  
.trace{
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 40px;
}
  
/* TABLET */
  
@media (max-width:768px){
    nav a{
      display: none;
    }
#menuHamburguer{
      display: flex;
}
body{
    grid-template-areas: 'navbar navbar navbar aside'
                           'section section section aside'
                           'footer footer footer aside';
    grid-template-rows: 15vh 60vh 30vh;    
    } 
}
/* CELULAR */
@media (max-width:425px){
    nav{
      justify-content: flex-start;
    }
#menuHamburguer{
      margin-left: 10px;
}
body{
    grid-template-areas: 'navbar navbar navbar navbar'
                           'section section section section'
                           'aside aside aside aside'
                           'footer footer footer footer';
    grid-template-rows: 15vh 60vh 60vh 30vh;
    }
}
  
section{
    grid-area: section;
    background-color:;
}
section img{
    border-radius: 100%;
}
aside{
    grid-area: aside;
    background-color: rgb(21, 172, 147);
}
footer{
    grid-area: footer;
    background-color: rgb(95, 82, 9);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
#redeSocial{
    width: 200px;
    display: flex;
    justify-content: space-around;
}
#interacoesNico{
    width: 100%;
    display: flex;
    justify-content: space-around;     
}